#App {
    margin: auto;
    max-width: 70%;
    min-width: 450px;

}

.gameHeader {
    font-family: 'Tahoma', cursive;
    font-size: 60px;
    color: #1DA1F2;
    -webkit-text-stroke:  4px #e6ecf0;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    font-weight: 1000;
}

.log-in {
    display: block;
    min-width: 100%;
    font-size: 15px;
    text-align: right;
}

.log-in p {
    font-size: 15px;
}

.login input{
    height: 15px;
}

/* div {
    border-style: solid;
    border-width: 1px;
} */
