.game-scoreboard {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 19), 0 12px 40px 0 rgba(0, 0, 0, 0.50);
    margin-right: 7%;
    margin-top: 7%;
    border-radius: 20px;
    display: inline-flex;
    background-image: url(http://bestanimations.com/Flags/Europe/Western/Spain/spanish-flag-waving-animated-gif-4.gif);
    background-size: cover;  
    background-repeat: no-repeat;  
    padding: 20px;
    font-family: 'Archivo Black', sans-serif;
    position: fixed;
    /* overflow: visible; */
    right: 0;
    top: 0;
    width: contain;
    z-index: 10;
}

.user-info{
    border-radius: 20px;
    text-align: center;
}

.game-card {
    /* background-image: url(https://media.giphy.com/media/26uf7RM9Nb9WgpMv6/source.gif); */
    background-color: #5FB9F0;
    background-size: inherit;
    justify-content: center;
    margin-bottom: 50px;

}

.head {
    text-shadow: 2px 2px black;
    color: white;
}

.info {
    text-shadow: 2px 2px white;
    color: #1DA1F2;
    font-size: 1.25em;
}


.tweet {
    display: inline-block;
    background-color: white;
    border: 2px solid #1DA1F2;
    border-radius: 5px;
    margin: 20px 20px 20px 10px;
    padding: 10px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.tweet:hover {
    background-color: white;
    border: 2px solid orange;
    border-radius: 5px;
    margin: 20px 20px 20px 10px;
    padding: 10px;
    width: 60%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.75), 0 12px 40px 0 rgba(0, 0, 0, 0.75);
}

.tweetCorrect {
    background-image: url(https://minimops.files.wordpress.com/2012/03/fotolia_32131580_xs.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    background-color: white;
    border: 2px solid #0F9D58;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.tweetIncorrect {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Crystal_128_error.svg/150px-Crystal_128_error.svg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: 2px solid #DB4437;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.tweet-container {
    flex-direction: column;
    justify-content: center;
}

.tweet-txt {
    margin: 5px;
    padding: 10px
}

.multiplechoice {
    display: inline-block;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.10);
    padding: 5px
}

a {
    word-wrap: break-word;
}

button {
    margin: 3px;
    border-radius: 10px
}

img {
    border-radius: 10px
}

.game-bird {
    display: inline-block;
    width: 30%;
    margin-top: 20px;
    height: 100px;
    display: none;
    background-image: url(http://vignette2.wikia.nocookie.net/thehungergames/images/c/c8/Twitter_question_mark.png/revision/latest?cb=20121008044301);
    background-repeat: no-repeat;
    background-size: contain;
}

.tweet-container:hover > .tweetCorrect + .game-bird {
    display: none;
}

.tweet-container:hover > .tweetIncorrect + .game-bird {
    display: none;
}

.tweet-container:hover .game-bird {
    display: inline-block;
}