.game-scoreboard {
    position: fixed;
    overflow: visible;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
}

.game-card {
    margin-top: 50px;
    margin-bottom: 50px

}


.tweet {
    
    background-color: white;
    border: 2px solid #1DA1F2;
    border-radius: 5px;
    /*       T   R   B    L*/
    margin: 20px 35% 20px auto;
    padding: 10px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tweetCorrect {
    
    background-color: #0F9D58;
    border: 2px solid #0F9D58;
    border-radius: 5px;
    /*       T   R   B    L*/
    margin: 20px 35% 20px auto;
    padding: 10px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tweetIncorrect {
    
    background-color: #DB4437;
    border: 2px solid #DB4437;
    border-radius: 5px;
    /*       T   R   B    L*/
    margin: 20px 35% 20px auto;
    padding: 10px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tweet-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    word-wrap: break-word;
}
