#enter-handle-bubble .speech-bubble {
	position: left;
	background: #1DA1F2;
    border-radius: .4em;
    padding: 20px
}

#enter-handle{
    
}

#enter-handle-bubble .speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #1DA1F2;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

#new-user-bubble .speech-bubble {
    position: relative;
    left: 100%;
    bottom: 75%;
	background: #1DA1F2;
    border-radius: .4em;
    padding: 20px
}

#new-user-bubble .speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #1DA1F2;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;

}


.bird-image{
    margin: 20px
}

.bird-image-flipped{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    float: right
}